<a href="https://colab.research.google.com/github/conorlime/CS6271/blob/main/Copy%20of%20CS6271%20Kaggle%20Competition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div>
<img src="http://hive.csis.ul.ie/UL_logo.jpeg" width="350"/>
</div> 

#**Artificial Intelligence - MSc**
##CS6271 - Evolutionary Algorithms and Humanoid Robotics 
### Kaggle Competition


Leader: Conor Ryan

Developer: Enrique Naredo

Tester: Allan De Lima

## Introduction

This notebook contains bare-bones functionality to generate either GP or GE models and submit the results to Kaggle. We will be using the **United States census dataset**.

The [United States census](https://en.wikipedia.org/wiki/United_States_census) is a census that is legally mandated by the US Constitution, and takes place every 10 years. 
* The first census after the American Revolution was taken in 1790, under Secretary of State Thomas Jefferson; there have been 23 federal censuses since that time.

In [ ]:
# Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Dataset

This one of the availables USA census dataset and provides 14 input variables that are a mixture of categorical, ordinal, and numerical data types:

1. Age
2. Workclass
3. Final Weight
4. Education
5. Education Number of Years
6. Marital-status
7. Occupation
8. Relationship
9. Race
10. Sex
11. Capital-gain
12.Capital-loss
13. Hours-per-week
14. Native-country

This is a binary classification problem where the task is to predict whether a given adult makes more than $\$50,000$. 
* Class 0 $<= \$50,000$, 
* Class 1 $> \$50,000$.

### Load the dataset

In [ ]:
# Suppressing Warnings:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
## mount your Google drive
# 1) click on the link
# 2) sign in
# 3) copy the provided code
# 4) paste it in the text box bellow
# 5) click the folder icon at the right
# 6) verify your drive is mounted

from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

Clone the GRAPE repository at first because the dataset to be used is already there.

In [ ]:
import os
# Get the library from our BDS research Group
# copy the path from your drive
PATH = '/content/drive/MyDrive/grape/'

# check if 'grape' already exists
if os.path.exists(PATH):
    print('grape directory already exists')
else:
    %cd /content/drive/MyDrive/
    !git clone https://github.com/UL-BDS/grape.git 
    print('Cloning grape in your Drive')

# change directory to 'grape'
%cd /content/drive/MyDrive/grape/

grape directory already exists
/content/drive/MyDrive/grape

### Train set

In [ ]:
train_file = 'datasets/USA_census_train.csv'

In [ ]:
# load train set
df_train = pd.read_csv(PATH+train_file)
df_train.head()

   id  age         workclass  ...  hours-per-week: native-country  class_label
0   0   39         State-gov  ...               40  United-States        <=50K
1   1   50  Self-emp-not-inc  ...               13  United-States        <=50K
2   2   38           Private  ...               40  United-States        <=50K
3   3   53           Private  ...               40  United-States        <=50K
4   4   28           Private  ...               40           Cuba        <=50K

[5 rows x 16 columns]

In [ ]:
df_train.describe()

                id          age  ...  capital-loss  hours-per-week:
count  1000.000000  1000.000000  ...   1000.000000      1000.000000
mean    541.981000    37.940000  ...    102.534000        40.706000
std     314.257019    12.896927  ...    431.964552        11.802918
min       0.000000    17.000000  ...      0.000000         1.000000
25%     270.750000    28.000000  ...      0.000000        40.000000
50%     543.500000    37.000000  ...      0.000000        40.000000
75%     816.250000    46.000000  ...      0.000000        45.000000
max    1084.000000    90.000000  ...   2415.000000        99.000000

[8 rows x 7 columns]

In [ ]:
X_train = df_train.copy()
# warning: cannot drop it more than once
X_train.drop(['class_label'], axis=1, inplace=True)

In [ ]:
# class labels
l, _ = X_train.shape

y_train = np.zeros([l,], dtype=float)

for i in range(l):
  y_train[i] = 1 if df_train['class_label'].iloc[i] == ">50K" else 0

In [ ]:
#y_train.head()
print(y_train[0:5])

[0. 0. 0. 0. 0.]

### Test set

In [ ]:
test_file = 'datasets/USA_census_test.csv'

In [ ]:
# load test set
df_test = pd.read_csv(PATH+test_file)
df_test.head()

     id  age workclass  ...  capital-loss hours-per-week:  native-country
0  1085   30   Private  ...             0              40   United-States
1  1086   32   Private  ...             0              40   United-States
2  1087   29   Private  ...             0              35   United-States
3  1088   42   Private  ...             0              52   United-States
4  1089   38   Private  ...             0              28   United-States

[5 rows x 15 columns]

In [ ]:
df_test.describe()

                id         age  ...  capital-loss  hours-per-week:
count   430.000000  430.000000  ...    430.000000       430.000000
mean   1321.360465   40.020930  ...     94.181395        41.979070
std     136.103528   12.586189  ...    408.643454        11.289248
min    1085.000000   17.000000  ...      0.000000         5.000000
25%    1204.250000   30.000000  ...      0.000000        40.000000
50%    1321.500000   40.000000  ...      0.000000        40.000000
75%    1439.750000   49.000000  ...      0.000000        45.000000
max    1552.000000   88.000000  ...   2339.000000        99.000000

[8 rows x 7 columns]

In [ ]:
X_test = df_test.copy()

We need to prepare both training and test datasets before working with a Machine Learning method. 

Consider the following tips:

1.   Normalise real data;
2.   Ignore columns that you think does not influence the class label (for example 'id');
3.   Use some encoding method with categorical data.

You are free to use other pre-processing ideas, and these don't only have to be ones we used in the module.

You are **strongly** advised to familiarise yourself with Segment 5.04 on Sulis before attempting this.

Number of categories on each categorical data:



1.   workclass: 7
2.   education: 16
3.   marital-status: 7
4. occupation: 14
5. relationship: 6
6. race: 5
7. native-country: 41

In [ ]:
X_train.dtypes

id                  int64
age                 int64
workclass          object
fnlwgt              int64
education          object
education-num       int64
marital-status     object
occupation         object
relationship       object
race               object
sex                object
capital-gain        int64
capital-loss        int64
hours-per-week:     int64
native-country     object
dtype: object

In [ ]:
X_train.head()

   id  age         workclass  ...  capital-loss hours-per-week:  native-country
0   0   39         State-gov  ...             0              40   United-States
1   1   50  Self-emp-not-inc  ...             0              13   United-States
2   2   38           Private  ...             0              40   United-States
3   3   53           Private  ...             0              40   United-States
4   4   28           Private  ...             0              40            Cuba

[5 rows x 15 columns]

Normalise the data. Note that there is non-numeric data here, so that is why we will get NaN when we examine the results later on. For this example, we will ignore non-numeric data.

In [ ]:
# normalising numeric data    
features = ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week:', 'workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']

X_train.loc[:, features] = (X_train.loc[:, features] - X_train.loc[:, features].mean())/X_train.loc[:, features].std()
X_test.loc[:, features] = (X_test.loc[:, features] - X_test.loc[:, features].mean())/X_test.loc[:, features].std()

X_train.head()

   id       age workclass  ...  capital-loss hours-per-week:  native-country
0   0  0.082190       NaN  ...     -0.237367       -0.059816             NaN
1   1  0.935106       NaN  ...     -0.237367       -2.347386             NaN
2   2  0.004652       NaN  ...     -0.237367       -0.059816             NaN
3   3  1.167720       NaN  ...     -0.237367       -0.059816             NaN
4   4 -0.770726       NaN  ...     -0.237367       -0.059816             NaN

[5 rows x 15 columns]

Convert the datasets to NumPy to easily use them.

In [ ]:
# data features
X_train = X_train.to_numpy()
X_test = X_test.to_numpy()

## GRAPE

<div>
<img src="http://hive.csis.ul.ie/GRAPE.png" width="150"/>
</div> 

GRammatical Algorithms in Python for Evolution (GRAPE)

Import adapted functions and classes from PonyGE2.

Import our algorithms, adapted from deap.algorithms.

Import DEAP (maybe it can be necessary to run the installation before that).

In [ ]:
!pip install deap==1.3 

from ponyge2_adapted_files import Grammar, ge
import algorithms

from os import path

from deap import creator, base, tools

Collecting deap==1.3
  Downloading deap-1.3.0-cp37-cp37m-manylinux2010_x86_64.whl (152 kB)
     || 152 kB 5.0 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from deap==1.3) (1.19.5)
Installing collected packages: deap
Successfully installed deap-1.3.0

You can import functions to be used with your grammar from [functions.py](https://github.com/UL-BDS/grape/blob/main/functions.py) on GRAPE repository and / or you can define your own functions.

In [ ]:
from functions import add, sub, mul, pdiv#, psqrt, plog, neg, and_, or_, not_, less_than_or_equal, greater_than_or_equal

'example7.bnf' is a simple grammar just to check if everything is working well.

Write your own grammar in a text file and save it in your Drive account.

Put the whole address on GRAMMAR_FILE and print to check it.

In [ ]:
#GRAMMAR_FILE = '/content/drive/MyDrive/data/example.bnf' #put the whole address of your own grammar and remove the # in the beginning of this line
GRAMMAR_FILE = 'example7.bnf' #remove this line when you are using your own grammar

#f = open(GRAMMAR_FILE, "r") #remove the # in the beginning of this line when you are using your own grammar
f = open("grammars/" + GRAMMAR_FILE, "r") #remove this line when you are using your own grammar
print(f.read())
f.close()

<e>   ::= add(<e>,<e>)|sub(<e>,<e>)|mul(<e>,<e>)|pdiv(<e>,<e>)|x[1]|x[2]|x[3]|x[4]|x[5]|x[6]|x[7]|x[8]|x[9]|x[10]|x[11]|x[12]|x[13]|x[14]|<c><c>.<c><c>
<c>  ::= 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9

x[0] refers to `id` column, so it is not being used by 'example7.bnf'.

If you remove the `id` column, you need to consider it when writing your own grammar.

Run the following cell to put your grammar on the class Grammar.

In [ ]:
#BNF_GRAMMAR = Grammar(GRAMMAR_FILE) #remove the # in the beginning of this line when you are using your own grammar
BNF_GRAMMAR = Grammar(path.join("grammars", GRAMMAR_FILE)) #remove this line when you are using your own grammar

The fitness function is the percentage of outputs wrongly predicted.

You can use any other fitness function, but you need to maintain the comma at the end of the returning lines.

Remember that for now, GRAPE is being used only for minimisation problems, so the fitness function needs to consider it.

In [ ]:
def fitness_eval(individual, points):
    """
    Fitness Function
    """

    x = points[0]
    Y = points[1]
    
    if individual.invalid == True:
        return np.NaN,

    # Evaluate the expression
    try:
        pred = eval(individual.phenotype)
    except (FloatingPointError, ZeroDivisionError, OverflowError,
            MemoryError):
        return np.NaN,
    assert np.isrealobj(pred)
    
    try:
        Y_class = [1 if pred[i] > 0 else 0 for i in range(len(Y))]
    except (IndexError, TypeError):
        return np.NaN,

    compare = np.equal(Y,Y_class)
    fitness = 1 - np.mean(compare)
   
    return fitness,

To use properly the fitness function above with GRAPE, the features must be in the lines, and the samples must be in the columns, so we need to transpose the matrix.

Take a look at the print. If you run this cell two times, the matrix will be transposed again and will not work properly.

In [ ]:
X_train = np.transpose(X_train)
X_test = np.transpose(X_test) 

print('Training (X,Y):\t', X_train.shape, y_train.shape)
print('Test (X):\t', X_test.shape)

Training (X,Y):	 (15, 1000) (1000,)
Test (X):	 (15, 430)

Set the Grammatical Evolution parameters.

In [ ]:
## GE parameters
POPULATION_SIZE = 1000
MAX_GENERATIONS = 200
P_CROSSOVER = 0.8
P_MUTATION = 0.01
ELITE_SIZE = round(0.01*POPULATION_SIZE)
TOURNAMENT_SIZE = 3
HALL_OF_FAME_SIZE = 1
MAX_INIT_TREE_DEPTH = 10
MIN_INIT_TREE_DEPTH = 2
MAX_TREE_DEPTH = 17
MAX_WRAPS = 0
CODON_SIZE = 255

Create a toolbox.

In [ ]:
# create a toolbox for DEAP
toolbox = base.Toolbox()

# define a single objective, minimising fitness strategy:
creator.create("FitnessMin", base.Fitness, weights=(-1.0,))

creator.create('Individual', ge.Individual, fitness=creator.FitnessMin)

toolbox.register("populationCreator", ge.initialisation_PI_Grow, creator.Individual) 

toolbox.register("evaluate", fitness_eval)

# Tournament selection:
toolbox.register("select", ge.selTournament, tournsize=TOURNAMENT_SIZE)

# Single-point crossover:
toolbox.register("mate", ge.crossover_onepoint)

# Flip-int mutation:
toolbox.register("mutate", ge.mutation_int_flip_per_codon)

In [ ]:
# create initial population (generation 0):
population = toolbox.populationCreator(size=POPULATION_SIZE, 
              bnf_grammar=BNF_GRAMMAR, 
              min_init_tree_depth=MIN_INIT_TREE_DEPTH,
              max_init_tree_depth=MAX_INIT_TREE_DEPTH,
              max_tree_depth=MAX_TREE_DEPTH, 
              max_wraps=MAX_WRAPS,
              codon_size=CODON_SIZE
              )

# define the hall-of-fame object:
hof = tools.HallOfFame(HALL_OF_FAME_SIZE)

# prepare the statistics object:
stats = tools.Statistics(key=lambda ind: ind.fitness.values)
stats.register("avg", np.nanmean)
stats.register("std", np.nanstd)
stats.register("min", np.nanmin)
stats.register("max", np.nanmax)

Run Grammatical Evolution.

In [ ]:
population, logbook = algorithms.ge_eaSimpleWithElitism(population, toolbox, cxpb=P_CROSSOVER, mutpb=P_MUTATION,
                      ngen=MAX_GENERATIONS, elite_size=ELITE_SIZE,
                      bnf_grammar=BNF_GRAMMAR, codon_size=CODON_SIZE, 
                      max_tree_depth=MAX_TREE_DEPTH, max_wraps=MAX_WRAPS,
                      points_train=[X_train, y_train], 
                      stats=stats, halloffame=hof, verbose=True
                      )

gen	invalid	avg     	std      	min  	max 	best_ind_length	avg_length	max_length	selection_time	generation_time
0  	0      	0.250643	0.0534016	0.226	0.77	4              	45.676    	229       	0             	1.05449
1  	334    	0.248468	0.0379415	0.226	0.77	4              	45.352    	193       	0.0087564     	2.55683
2  	108    	0.251581	0.0553547	0.226	0.756	4              	39.707    	153       	0.0079217     	0.826865
3  	69     	0.252622	0.0595899	0.226	0.775	4              	42.45     	159       	0.00760627    	0.811168
4  	48     	0.250598	0.0544379	0.226	0.788	4              	41.839    	150       	0.00705099    	0.69063
5  	41     	0.247875	0.0486676	0.226	0.77 	4              	41.716    	150       	0.00713658    	0.61828
6  	11     	0.250001	0.0700594	0.225	0.77 	96             	42.221    	140       	0.00732684    	0.63036
7  	8      	0.245929	0.0662541	0.225	0.77 	96             	43.174    	139       	0.00854897    	0.555969
8  	1      	0.240688	0.0564098	0.225	0.77 	96             	44.337    	127       	0.00721335    	0.453158
9  	2      	0.243209	0.0731457	0.225	0.77 	96             	42.953    	126       	0.00720644    	0.421128
10 	3      	0.238206	0.0562662	0.225	0.77 	96             	43.813    	127       	0.00917315    	0.451889
11 	3      	0.237748	0.058025 	0.225	0.756	96             	45.858    	128       	0.00744557    	0.470992
12 	1      	0.23434 	0.0446121	0.225	0.756	96             	46.77     	129       	0.00782371    	0.455783
13 	3      	0.233943	0.041688 	0.225	0.77 	96             	47.097    	129       	0.00680757    	0.487729
14 	1      	0.236658	0.0526828	0.219	0.756	10             	47.208    	131       	0.00822282    	0.477268
15 	2      	0.236413	0.0580741	0.219	0.77 	10             	47.239    	132       	0.0067482     	0.520362
16 	1      	0.233637	0.0387664	0.219	0.756	10             	50.804    	133       	0.00779009    	0.491676
17 	1      	0.233018	0.041495 	0.213	0.771	103            	50.067    	133       	0.00769901    	0.503965
18 	0      	0.232206	0.03841  	0.213	0.776	103            	50.636    	132       	0.00780725    	0.940058
19 	0      	0.231096	0.0407572	0.211	0.771	106            	52.809    	138       	0.0080018     	0.57548
20 	2      	0.231171	0.0482802	0.211	0.775	106            	53.44     	139       	0.00859928    	0.513911
21 	1      	0.229221	0.0413127	0.208	0.776	16             	54.96     	141       	0.00819898    	0.573687
22 	2      	0.227281	0.0345687	0.208	0.77 	16             	57.464    	141       	0.00711846    	0.62432
23 	2      	0.22624 	0.0414372	0.208	0.776	16             	58.505    	144       	0.00650287    	0.54591
24 	5      	0.227218	0.0489406	0.207	0.792	86             	61.058    	147       	0.00739145    	0.60944
25 	2      	0.226683	0.0518098	0.2  	0.775	32             	64.976    	133       	0.0117817     	0.772774
26 	4      	0.230819	0.068642 	0.2  	0.775	32             	66.197    	144       	0.00698972    	0.741737
27 	1      	0.230272	0.0684282	0.2  	0.79 	32             	69.337    	158       	0.00699043    	0.748053
28 	5      	0.225077	0.049271 	0.2  	0.792	32             	72.909    	148       	0.00890923    	0.722983
29 	6      	0.225424	0.0530701	0.2  	0.796	32             	74.86     	157       	0.0077064     	0.881832
30 	6      	0.224198	0.0485364	0.2  	0.786	32             	73.159    	157       	0.00771999    	0.903572
31 	7      	0.228633	0.0664822	0.2  	0.794	32             	76.285    	149       	0.00874853    	0.850623
32 	4      	0.22822 	0.0624692	0.2  	0.787	32             	76.113    	158       	0.00828576    	1.00007
33 	3      	0.226388	0.0575767	0.2  	0.79 	32             	74.597    	164       	0.00903773    	0.905921
34 	4      	0.226547	0.0529377	0.2  	0.792	32             	74.474    	185       	0.0084908     	0.950985
35 	6      	0.22793 	0.0627625	0.2  	0.792	32             	75.503    	176       	0.00720477    	0.833069
36 	6      	0.227998	0.0675988	0.2  	0.781	32             	77.153    	193       	0.00783849    	0.96487
37 	10     	0.231103	0.0782991	0.2  	0.771	32             	76.652    	206       	0.00848436    	0.819471
38 	7      	0.22777 	0.0627147	0.2  	0.756	32             	75.81     	196       	0.00900912    	0.854949
39 	12     	0.226675	0.0583051	0.2  	0.792	32             	74.737    	223       	0.00730658    	0.82171
40 	8      	0.228686	0.0670082	0.2  	0.776	32             	74.455    	189       	0.00685096    	0.939878
41 	10     	0.225282	0.0499606	0.2  	0.787	32             	77.786    	193       	0.00826693    	0.88338
42 	12     	0.228277	0.0591588	0.2  	0.773	32             	81.27     	198       	0.00675344    	0.993812
43 	22     	0.230704	0.0740553	0.199	0.775	62             	84.06     	203       	0.00703478    	0.885535
44 	12     	0.229404	0.0689021	0.199	0.79 	62             	83.051    	216       	0.00810742    	0.978599
45 	26     	0.230049	0.0677796	0.199	0.788	62             	82.338    	208       	0.00806594    	0.927807
46 	16     	0.232488	0.0786124	0.198	0.792	81             	83.065    	254       	0.0067966     	1.04203
47 	20     	0.230178	0.0698308	0.198	0.788	81             	84.12     	225       	0.0076232     	1.01678
48 	23     	0.226756	0.0590795	0.198	0.791	81             	82.319    	239       	0.00646996    	0.957534
49 	20     	0.233138	0.0822771	0.198	0.789	81             	84.783    	231       	0.00745583    	1.13045
50 	11     	0.227358	0.0634295	0.195	0.756	55             	85.02     	220       	0.00670195    	0.921669
51 	13     	0.231649	0.0742217	0.195	0.783	55             	85.75     	229       	0.00721407    	0.980404
52 	15     	0.23327 	0.0756975	0.195	0.801	55             	89.279    	246       	0.00646853    	1.06482
53 	17     	0.233591	0.0719569	0.195	0.785	55             	90.785    	254       	0.00657678    	1.0744
54 	23     	0.228772	0.0598913	0.195	0.756	55             	87.979    	276       	0.00642776    	1.09202
55 	31     	0.230228	0.0619228	0.195	0.756	55             	89.658    	291       	0.00642037    	1.09828
56 	15     	0.234481	0.0784092	0.195	0.797	55             	90.839    	292       	0.00688052    	1.14881
57 	38     	0.235313	0.0822701	0.193	0.782	93             	95.746    	361       	0.00731349    	1.21285
58 	30     	0.231095	0.0692083	0.192	0.801	88             	96.695    	323       	0.00662398    	1.23815
59 	42     	0.231835	0.0697255	0.192	0.801	88             	102.74    	323       	0.00679374    	1.17004
60 	39     	0.233991	0.0802807	0.192	0.791	88             	108.227   	347       	0.00742698    	1.15879
61 	32     	0.23005 	0.0667731	0.192	0.756	88             	112.786   	296       	0.00779414    	1.29529
62 	60     	0.233736	0.0744444	0.192	0.797	88             	113.369   	334       	0.00802112    	1.26059
63 	46     	0.231078	0.0645927	0.192	0.795	88             	115.153   	295       	0.00788045    	1.41163
64 	56     	0.235314	0.078096 	0.192	0.784	88             	115.4     	319       	0.00630879    	1.21726
65 	38     	0.232462	0.0730148	0.192	0.757	88             	117.829   	274       	0.00735927    	1.18413
66 	67     	0.231466	0.0716402	0.188	0.775	76             	119.594   	295       	0.00730491    	1.36511
67 	52     	0.23407 	0.077442 	0.188	0.757	76             	125.982   	315       	0.0104394     	1.41354
68 	73     	0.231297	0.0618395	0.188	0.756	76             	127.086   	301       	0.00672007    	1.36148
69 	56     	0.235138	0.0800321	0.188	0.798	76             	127.916   	302       	0.00743055    	1.25698
70 	43     	0.237829	0.0838512	0.188	0.776	76             	131.977   	302       	0.00747705    	1.29432
71 	55     	0.234655	0.0804126	0.188	0.783	76             	131.768   	287       	0.00649643    	1.42434
72 	57     	0.238942	0.0869157	0.188	0.756	76             	133.069   	307       	0.00721383    	1.416
73 	63     	0.237407	0.0842687	0.188	0.775	76             	134.839   	307       	0.00685692    	1.31843
74 	54     	0.237684	0.0857319	0.188	0.785	76             	137.864   	328       	0.00674915    	1.37098
75 	68     	0.232598	0.0692515	0.188	0.767	76             	136.738   	376       	0.00750709    	1.24907
76 	54     	0.236693	0.0782333	0.188	0.796	76             	136.278   	346       	0.00824833    	1.19747
77 	48     	0.239741	0.0812577	0.188	0.793	76             	141.598   	333       	0.00727391    	1.16433
78 	47     	0.235693	0.0736897	0.188	0.756	76             	145.181   	333       	0.0064919     	1.36804
79 	54     	0.239095	0.0872894	0.188	0.785	76             	144.836   	387       	0.00772476    	1.38809
80 	74     	0.236853	0.0778435	0.188	0.766	76             	145.453   	369       	0.0063529     	1.29955
81 	69     	0.232674	0.0680209	0.188	0.756	76             	148.719   	356       	0.00730753    	1.39054
82 	62     	0.241025	0.0927683	0.188	0.803	76             	147.325   	395       	0.00678182    	1.38544
83 	63     	0.240422	0.089698 	0.188	0.799	76             	148.797   	370       	0.00638413    	1.28515
84 	52     	0.24199 	0.0932234	0.188	0.783	76             	148.752   	404       	0.00662279    	1.39906
85 	57     	0.234196	0.0666291	0.188	0.774	76             	144.775   	371       	0.00704885    	1.25765
86 	53     	0.234146	0.0664209	0.188	0.791	76             	145.108   	381       	0.00658941    	1.30738
87 	53     	0.23689 	0.0812385	0.188	0.793	76             	142.97    	385       	0.00646234    	1.3494
88 	58     	0.233426	0.0666889	0.188	0.801	76             	143.84    	388       	0.00814462    	1.3978
89 	57     	0.241452	0.0893495	0.185	0.807	112            	145.26    	382       	0.00729752    	1.34871
90 	45     	0.23845 	0.0843661	0.185	0.794	112            	147.532   	382       	0.00793195    	1.42146
91 	68     	0.237471	0.0793889	0.185	0.778	112            	149.966   	397       	0.0110502     	1.25543
92 	57     	0.233683	0.0675051	0.185	0.756	112            	148.943   	397       	0.00756741    	1.26792
93 	52     	0.241576	0.0859077	0.185	0.756	112            	155.319   	406       	0.00757265    	1.22209
94 	50     	0.24251 	0.0883259	0.185	0.78 	112            	151.873   	416       	0.00757837    	1.19872
95 	53     	0.243695	0.0915096	0.185	0.77 	112            	152.018   	400       	0.0121448     	1.23516
96 	45     	0.234675	0.0682162	0.185	0.776	112            	148.839   	414       	0.00733352    	1.16625
97 	67     	0.233705	0.0644802	0.185	0.793	112            	146.107   	447       	0.00706005    	1.25301
98 	53     	0.239918	0.0891642	0.185	0.791	112            	142.871   	456       	0.00843525    	1.29803
99 	60     	0.237931	0.0829657	0.185	0.776	112            	139.563   	397       	0.00657463    	1.26568
100	46     	0.23918 	0.0867901	0.185	0.8  	112            	143.382   	401       	0.00668216    	1.41211
101	61     	0.241004	0.0868939	0.185	0.791	112            	142.241   	443       	0.00825286    	1.41289
102	52     	0.237938	0.0822767	0.185	0.756	112            	144.903   	436       	0.00691938    	1.40579
103	53     	0.24333 	0.0971535	0.185	0.77 	112            	145.377   	406       	0.00645256    	1.2171
104	60     	0.239568	0.0890207	0.185	0.775	112            	149.689   	420       	0.00656533    	1.43806
105	54     	0.240759	0.0839168	0.185	0.766	112            	152.679   	444       	0.00713658    	1.27553
106	54     	0.244811	0.093514 	0.185	0.766	112            	154.964   	419       	0.0128722     	1.29774
107	42     	0.239535	0.0796157	0.185	0.756	112            	154.519   	439       	0.00989962    	1.24765
108	35     	0.241097	0.0798364	0.185	0.756	112            	150.697   	449       	0.00723433    	1.21475
109	32     	0.240775	0.080649 	0.185	0.791	112            	144.545   	437       	0.00771308    	1.15289
110	34     	0.241801	0.0848548	0.185	0.784	112            	148.747   	454       	0.00799465    	1.24076
111	43     	0.244332	0.0863477	0.185	0.784	112            	145.525   	395       	0.00701928    	1.11845
112	34     	0.236708	0.0646279	0.185	0.756	112            	142.781   	438       	0.0120802     	1.1267
113	30     	0.244923	0.0914623	0.185	0.77 	112            	142.488   	442       	0.00831366    	1.01239
114	32     	0.243392	0.0850034	0.185	0.798	112            	137.022   	471       	0.00760961    	1.12015
115	35     	0.241191	0.0787232	0.185	0.76 	112            	138.755   	480       	0.00801182    	0.980038
116	32     	0.242098	0.0766127	0.185	0.756	112            	131.658   	430       	0.00694752    	1.02663
117	47     	0.236443	0.0595437	0.185	0.756	112            	135.064   	486       	0.00650859    	0.982936
118	39     	0.239731	0.0675864	0.185	0.769	112            	131.215   	463       	0.00682735    	0.995691
119	38     	0.241133	0.0752678	0.185	0.758	112            	129.305   	483       	0.00861526    	0.939957
120	38     	0.242246	0.0775853	0.185	0.756	112            	132.739   	490       	0.00673461    	1.00374
121	43     	0.243635	0.0799496	0.185	0.801	112            	135.296   	565       	0.00729227    	1.01323
122	36     	0.247036	0.0864647	0.185	0.801	112            	135.288   	524       	0.00795341    	0.970526
123	24     	0.243255	0.0703694	0.185	0.776	112            	132.748   	511       	0.00752425    	1.0221
124	26     	0.244107	0.076065 	0.185	0.793	112            	133.32    	526       	0.00819826    	0.954968
125	46     	0.244477	0.0766685	0.185	0.774	112            	134.207   	450       	0.00749063    	0.875765
126	28     	0.249922	0.0888989	0.185	0.778	112            	136.531   	450       	0.0137947     	0.973871
127	29     	0.252526	0.0914521	0.185	0.77 	112            	139.593   	476       	0.00816607    	0.963933
128	23     	0.249423	0.087327 	0.185	0.771	112            	140.231   	479       	0.0101953     	0.912217
129	36     	0.252875	0.0918393	0.185	0.756	112            	139.755   	465       	0.00793576    	0.813278
130	27     	0.248584	0.08529  	0.185	0.775	112            	133.801   	464       	0.00717902    	0.84786
131	29     	0.246618	0.0804273	0.185	0.756	112            	135.77    	437       	0.00779271    	0.802196
132	30     	0.248291	0.0827284	0.185	0.756	112            	136.377   	438       	0.00711155    	0.731234
133	20     	0.242193	0.0671861	0.185	0.756	112            	136.867   	524       	0.007622      	0.879699
134	24     	0.247889	0.0830987	0.185	0.793	112            	142.947   	504       	0.00933743    	0.680057
135	21     	0.243879	0.0736591	0.185	0.798	112            	147.106   	507       	0.00799799    	0.773583
136	27     	0.244624	0.0785561	0.185	0.759	112            	149.917   	464       	0.00977492    	0.794687
137	19     	0.24775 	0.083374 	0.185	0.794	112            	144.919   	439       	0.00795841    	0.75412
138	24     	0.251857	0.0995111	0.185	0.787	112            	142.291   	418       	0.0109329     	0.767843
139	18     	0.253622	0.105911 	0.185	0.781	112            	139.076   	432       	0.00656199    	0.809455
140	29     	0.251311	0.0945002	0.185	0.793	112            	137.716   	447       	0.00666308    	0.707943
141	31     	0.250336	0.0895781	0.185	0.8  	112            	134.151   	450       	0.00836587    	0.706512
142	25     	0.248987	0.0882583	0.185	0.788	112            	134.747   	468       	0.0080111     	0.760929
143	18     	0.248078	0.0885064	0.185	0.792	112            	131.183   	453       	0.00718474    	0.647635
144	20     	0.241474	0.0580262	0.185	0.756	112            	126.45    	475       	0.00675893    	0.631997
145	14     	0.240057	0.0634416	0.185	0.756	112            	127.747   	440       	0.00810242    	0.690719
146	26     	0.243615	0.0786556	0.185	0.756	112            	135.25    	458       	0.00795817    	0.712848
147	27     	0.245342	0.0819327	0.185	0.77 	112            	137.755   	474       	0.0074029     	0.705646
148	33     	0.244448	0.070738 	0.185	0.762	112            	139.535   	513       	0.00786376    	0.742938
149	28     	0.242701	0.0698961	0.185	0.775	112            	137.796   	508       	0.00804567    	0.738621
150	27     	0.240988	0.0619513	0.185	0.756	112            	136.917   	508       	0.00845504    	0.735799
151	22     	0.242263	0.070033 	0.185	0.775	112            	133.566   	461       	0.00723672    	0.692512
152	19     	0.248632	0.0896744	0.185	0.776	112            	129.835   	461       	0.00683141    	0.745259
153	25     	0.248728	0.0881761	0.185	0.775	112            	126.422   	499       	0.00652957    	0.669399
154	19     	0.248341	0.084323 	0.185	0.779	112            	133.289   	488       	0.00785375    	0.699172
155	22     	0.247942	0.0864395	0.185	0.756	112            	134.731   	490       	0.00769448    	0.68355
156	11     	0.244894	0.0782296	0.185	0.756	112            	132.262   	475       	0.0074265     	0.686704
157	23     	0.244329	0.0775666	0.185	0.771	112            	130.728   	463       	0.00773859    	0.784306
158	19     	0.243187	0.0717978	0.185	0.776	112            	133.43    	488       	0.00673151    	0.75341
159	38     	0.2466  	0.078992 	0.185	0.776	112            	137.095   	489       	0.00741315    	0.719698
160	24     	0.2471  	0.0742554	0.185	0.756	112            	133.256   	485       	0.00762725    	0.732896
161	24     	0.246244	0.0816009	0.185	0.792	112            	129.19    	387       	0.00925064    	0.713081
162	19     	0.242447	0.066735 	0.185	0.756	112            	129.466   	410       	0.0088892     	0.703183
163	32     	0.243084	0.0713804	0.185	0.77 	112            	130.286   	418       	0.00825143    	0.664406
164	13     	0.251173	0.095939 	0.185	0.77 	112            	130.244   	394       	0.00768256    	0.765333
165	20     	0.248274	0.0881359	0.185	0.782	112            	129.701   	409       	0.00771475    	0.761215
166	16     	0.253078	0.093415 	0.185	0.791	112            	128.199   	391       	0.00711679    	0.704484
167	17     	0.251953	0.0916196	0.185	0.791	112            	132.055   	388       	0.00806117    	0.808018
168	28     	0.248753	0.0864438	0.185	0.787	112            	128.794   	399       	0.00677419    	0.82149
169	29     	0.247528	0.0823522	0.185	0.77 	112            	128.825   	436       	0.00686336    	0.61359
170	22     	0.246238	0.0759522	0.185	0.756	112            	130.851   	386       	0.00840187    	0.686648
171	23     	0.250992	0.0922753	0.185	0.786	112            	129.858   	387       	0.00773239    	0.773707
172	24     	0.250942	0.0969761	0.185	0.776	112            	130.498   	410       	0.00790334    	0.618509
173	18     	0.246014	0.0835103	0.185	0.776	112            	124.263   	408       	0.00674844    	0.581016
174	28     	0.248297	0.0834075	0.185	0.756	112            	125.722   	416       	0.00695729    	0.613527
175	17     	0.245324	0.0742772	0.185	0.756	112            	120.318   	461       	0.00710988    	0.602116
176	12     	0.245495	0.0751069	0.185	0.756	112            	122.389   	407       	0.00872874    	0.552458
177	13     	0.243762	0.0761144	0.185	0.756	112            	125.301   	400       	0.00685763    	0.699615
178	14     	0.250714	0.0935221	0.185	0.77 	112            	121.915   	409       	0.00704193    	0.523818
179	5      	0.245678	0.0722064	0.185	0.756	112            	119.984   	393       	0.00771213    	0.612213
180	15     	0.24185 	0.064621 	0.185	0.784	112            	118.745   	397       	0.0068481     	0.585122
181	8      	0.243706	0.0732525	0.185	0.787	112            	118.133   	420       	0.00673246    	0.557492
182	8      	0.244827	0.0763077	0.185	0.787	112            	116.591   	409       	0.00778604    	0.592847
183	13     	0.248378	0.0824588	0.185	0.77 	112            	116.225   	429       	0.0124657     	0.549978
184	10     	0.246175	0.0793203	0.185	0.775	112            	114.598   	412       	0.0068028     	0.530347
185	9      	0.242395	0.0637606	0.185	0.756	112            	118.629   	432       	0.00734925    	0.591775
186	14     	0.246052	0.0795893	0.185	0.791	112            	117.928   	443       	0.00668192    	0.613144
187	11     	0.243777	0.0724556	0.185	0.792	112            	119.702   	443       	0.00704002    	0.617749
188	15     	0.248238	0.0823115	0.185	0.775	112            	117.859   	444       	0.00751209    	0.628446
189	21     	0.247744	0.082498 	0.185	0.773	112            	118.797   	493       	0.00772786    	0.740206

Show the best individual as an expression. The final fitness isn't entirely awful, given that we are ignoring a significant amount of the data, so you should consider this a baseline that you want to exceed.

In [ ]:
# Best individual
import textwrap
best = hof.items[0].phenotype
print("Best individual: \n","\n".join(textwrap.wrap(best,80)))
print("\nTraining Fitness: ", hof.items[0].fitness.values[0])
print("Depth: ", hof.items[0].depth)
print("Length of the genome: ", len(hof.items[0].genome))
print(f'Used portion of the genome: {hof.items[0].used_codons/len(hof.items[0].genome):.2f}')

Best individual:
 add(add(x[12],add(add(x[12],x[5]),add(add(x[12],x[12]),add(add(add(x[12],add(x[1
2],add(x[13],mul(x[11],add(x[12],x[12]))))),add(add(add(add(x[12],x[11]),add(x[1
2],add(x[13],mul(x[11],add(x[12],x[11]))))),x[12]),x[12])),add(x[12],add(x[12],a
dd(add(add(x[1],add(add(add(x[12],x[12]),x[3]),x[1])),add(add(add(x[12],x[12]),x
[12]),add(x[12],x[5]))),add(x[12],x[11])))))))),add(add(x[12],add(add(add(add(x[
12],x[12]),x[12]),add(x[12],x[5])),add(x[12],x[11]))),add(add(x[12],add(x[12],ad
d(mul(x[12],x[12]),x[12]))),x[5])))

Training Fitness:  0.18500000000000005
Depth:  15
Length of the genome:  112
Used portion of the genome: 0.85

Define a function to predict values. We will need this to produce the predictions that will be uploaded to Kaggle.

In [ ]:
def predict(individual, X):
    x = X
    
    if individual.invalid == True:
        return np.NaN,

    # Evaluate the expression
    try:
        pred = eval(individual.phenotype)
    except (FloatingPointError, ZeroDivisionError, OverflowError,
            MemoryError):
        return np.NaN,
    assert np.isrealobj(pred)
    
    _, c = x.shape
    
    try:
        Y_class = [1 if pred[i] > 0 else 0 for i in range(c)]
    except (IndexError, TypeError):
        return np.NaN,
   
    return Y_class

Predict the classes of the test set.

In [ ]:
y_pred = predict(hof.items[0], X_test)
print("Predicted classes of the test set: ", y_pred)

Predicted classes of the test set:  [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]

Save it in a .csv file and submit it in the [Kaggle competition](https://www.kaggle.com/c/cs6271-kagglecompetition/submit).

The format is as follows:
1. First column is the original `id` column in the test set;
2. Second column is named `class_label` and contains the predictions (only 0's or 1's).

In [ ]:
df_id = df_test['id']
df_class = pd.DataFrame(data=y_pred, columns = ['class_label'])
df_pred = pd.concat([df_id, df_class], axis=1)

df_pred.to_csv('predictions.csv', sep=',', index=False)

## Genetic Programming

In [ ]:
from deap import gp
from deap import algorithms
#base, creator and tools were already imported

Set GP parameters.

In [ ]:
POPULATION_SIZE = 
P_CROSSOVER =
P_MUTATION = 
MAX_GENERATIONS = 
HALL_OF_FAME_SIZE = 

MIN_TREE_HEIGHT = 
MAX_TREE_HEIGHT = 
LIMIT_TREE_HEIGHT = 
MUT_MIN_TREE_HEIGHT = 
MUT_MAX_TREE_HEIGHT =

SyntaxError: ignored

Next steps:

1. Define a fitness function;
2. Add functions and terminals to `gp.PrimitiveSet`. Maybe you will need to define some functions before that;
3. Create the toolbox;
4. Run GP;
5. Define a function to predict samples using a GP individual;
6. Predict the test set, save a .csv file and submit it in the [Kaggle competition](https://www.kaggle.com/c/cs6271-kagglecompetition/submit) to see if the results are better than when using GRAPE. 

Hint: 
    
    Maybe you will need to change the format of the data on X_train and X_test.

In [ ]:
# your code here

## Summary

Your summary here.