<div>
<img src="https://www.ul.ie/themes/custom/ul/logo.jpg" />
</div> 

#**MSc in Artificial Intelligence and Machine Learning**
##CS6271 - Evolutionary Algorithms and Humanoid Robotics 2022
### Kaggle Competition


Module Leader: Conor Ryan

Developer: Allan De Lima

## Introduction

The Spaceship Titanic is a Machine Learning competition currently running on Kaggle with the participation of more than 2,000 teams.

As final project in this module, we will run a small competition using a smaller dataset, and you will need to use GP or GE to evolve a solution.

## Description

Welcome to the year 2912, where your data science skills are needed to solve a cosmic mystery. We've received a transmission from four lightyears away and things aren't looking good.

The Spaceship Titanic was an interstellar passenger liner launched a month ago. With almost 13,000 passengers on board, the vessel set out on its maiden voyage transporting emigrants from our solar system to three newly habitable exoplanets orbiting nearby stars.

While rounding Alpha Centauri en route to its first destination—the torrid 55 Cancri E—the unwary Spaceship Titanic collided with a spacetime anomaly hidden within a dust cloud. Sadly, it met a similar fate as its namesake from 1000 years before. Though the ship stayed intact, almost half of the passengers were transported to an alternate dimension!

To help rescue crews and retrieve the lost passengers, you are challenged to predict which passengers were transported by the anomaly using records recovered from the spaceship’s damaged computer system.

Help save them and change history!

In [ ]:
# Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Dataset

The dataset provides 12 input variables that are a mixture of categorical, ordinal, boolean and numerical data types:

1. PassengerId
2. HomePlanet
3. CryoSleep
4. Destination
5. Age
6. VIP
7. RoomService
8. FoodCourt
9. ShoppingMall
10. Spa
11. VRDeck
12. Name

This is a binary classification problem where the task is to predict whether a passenger was transported to an alternate dimension.

### Load the dataset

In [ ]:
# Suppressing Warnings:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
## mount your Google drive
# 1) click on the link
# 2) sign in
# 3) copy the provided code
# 4) paste it in the text box bellow
# 5) click the folder icon at the right
# 6) verify your drive is mounted

from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

Clone the GRAPE repository at first because the dataset to be used is already there.

In [ ]:
import os
# Get the library from our BDS research Group
# copy the path from your drive
PATH = '/content/drive/MyDrive/grape/'

# check if 'grape' already exists
if os.path.exists(PATH):
    print('grape directory already exists')
else:
    %cd /content/drive/MyDrive/
    !git clone https://github.com/UL-BDS/grape.git 
    print('Cloning grape in your Drive')

# change directory to 'grape'
%cd /content/drive/MyDrive/grape/

grape directory already exists
/content/drive/MyDrive/grape

### Train set

In [ ]:
train_file = 'datasets/spaceshipTitanic_train.csv'

In [ ]:
# load train set
df_train = pd.read_csv(PATH+train_file)
df_train.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0,Earth,False,55 Cancri e,22,False,0,833,381,0,12,Miranda Pratt,True
1,1,Mars,True,TRAPPIST-1e,61,False,0,0,0,0,0,Isaac Werner,True
2,2,Mars,True,TRAPPIST-1e,5,False,0,0,0,0,0,Elisha Rosario,True
3,3,Earth,False,55 Cancri e,14,False,653,0,4,0,0,Deshawn Hall,False
4,4,Earth,False,PSO J318.5-22,2,False,0,0,0,0,0,Justice Archer,True

In [7]:
df_train.describe()

,PassengerId,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,999.500000,28.555500,213.460500,497.902500,166.237000,342.252000,269.211000
std,577.494589,14.629112,615.762402,1763.257082,509.568841,1236.474773,1021.074852
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,499.750000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,999.500000,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1499.250000,37.000000,32.000000,61.250000,23.000000,67.250000,37.000000
max,1999.000000,79.000000,6899.000000,27723.000000,10424.000000,18572.000000,14485.000000

In [8]:
X_train = df_train.copy()
# warning: cannot drop it more than once
X_train.drop(['Transported'], axis=1, inplace=True)

In [9]:
# class labels
l, _ = X_train.shape

y_train = np.zeros([l,], dtype=bool)

for i in range(l):
  y_train[i] = df_train['Transported'].iloc[i]

In [10]:
#y_train.head()
print(y_train[0:5])

[ True  True  True False  True]

### Test set

In [11]:
test_file = 'datasets/spaceshipTitanic_test.csv'

In [12]:
# load test set
df_test = pd.read_csv(PATH+test_file)
df_test.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,2000,Mars,False,TRAPPIST-1e,54,False,676,0,231,379,0,Dawson Knox
1,2001,Mars,False,TRAPPIST-1e,43,False,336,11,796,15,0,Jaylee Navarro
2,2002,Europa,False,55 Cancri e,33,False,77,2381,0,3656,150,Dario Hart
3,2003,Earth,True,55 Cancri e,30,False,0,0,0,0,0,Alden Parker
4,2004,Europa,False,TRAPPIST-1e,31,False,0,53,0,2963,1017,Gina Frank

In [13]:
df_test.describe()

,PassengerId,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,4923.000000,4923.000000,4923.000000,4923.000000,4923.000000,4923.000000,4923.000000
mean,4461.000000,29.028235,231.206175,473.335568,184.646354,308.407678,317.807434
std,1421.292018,14.466997,696.138873,1634.705363,677.528376,1126.346091,1164.989135
min,2000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3230.500000,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4461.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,5691.500000,38.000000,59.000000,84.000000,31.000000,63.000000,59.500000
max,6922.000000,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,20336.000000

In [14]:
X_test = df_test.copy()

We need to prepare both training and test datasets before working with a Machine Learning method. 

Consider the following tips:

1.   Remove columns that you think does not influence the class label (for example 'PassengerId');
2.   Use some encoding method with categorical data.

You are free to use any other pre-processing ideas. 

You could use for instance, one-hot encoding with categorical data, as was shown when we studied the heart disease dataset.

Number of categories on each categorical data:



1.   HomePlanet: 3
2.   Destination: 3

In [ ]:
#Include your code here

Convert the datasets to NumPy to easily use them.

In [ ]:
# data features
X_train = X_train.to_numpy()
X_test = X_test.to_numpy()

## GRAPE

<div>
<img src="https://drive.google.com/uc?export=view&id=1hw43Oi3lGTCkspQ0ged2bZB8q2EpcPhz" width="150"/>
</div> 

GRammatical Algorithms in Python for Evolution (GRAPE)

In [15]:
!pip install deap==1.3 

import grape
import algorithms

from os import path
from deap import creator, base, tools
import random
import csv

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting deap==1.3
  Downloading deap-1.3.0-cp37-cp37m-manylinux2010_x86_64.whl (152 kB)
     |████████████████████████████████| 152 kB 9.2 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from deap==1.3) (1.21.6)
Installing collected packages: deap
Successfully installed deap-1.3.0

You can import functions to be used with your grammar from [functions.py](https://github.com/UL-BDS/grape/blob/main/functions.py) on GRAPE repository and / or you can define your own functions.

In [16]:
from functions import add, sub, mul, pdiv#, psqrt, plog, neg, and_, or_, not_, less_than_or_equal, greater_than_or_equal

'heartDisease.bnf' is a grammar used for another problem just to check if everything is working well.

Write your own grammar in a text file and save it in your Drive account.

Put the whole address on GRAMMAR_FILE and print to check it.

In [17]:
#GRAMMAR_FILE = '/content/drive/MyDrive/data/example.bnf' #put the whole address of your own grammar and remove the # in the beginning of this line
GRAMMAR_FILE = 'heartDisease.bnf' #remove this line when you are using your own grammar

#f = open(GRAMMAR_FILE, "r") #remove the # in the beginning of this line when you are using your own grammar
f = open("grammars/" + GRAMMAR_FILE, "r") #remove this line when you are using your own grammar
print(f.read())
f.close()

<log_op> ::= <conditional_branches> | and_(<log_op>,<log_op>) | or_(<log_op>,<log_op>) | not_(<log_op>) | <boolean_feature>
<c>  ::= 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9
<conditional_branches> ::= less_than_or_equal(<num_op>,<num_op>) | greater_than_or_equal(<num_op>, <num_op>)
<num_op>   ::= add(<num_op>,<num_op>) | sub(<num_op>,<num_op>) | mul(<num_op>,<num_op>) | pdiv(<num_op>,<num_op>) | <nonboolean_feature>
<boolean_feature> ::= x[1]|x[4]|x[6]|x[8]|x[9]|x[10]|x[11]|x[12]|x[13]|x[14]|x[15]|x[16]|x[17]|x[18]|x[19]|x[20]|x[21]|x[22]|x[23]|x[24]
<nonboolean_feature> ::= x[0]|x[2]|x[3]|x[5]|x[7]|<c><c>.<c><c>

Run the following cell to put your grammar on the class Grammar.

In [18]:
#BNF_GRAMMAR = grape.Grammar(GRAMMAR_FILE) #remove the # in the beginning of this line when you are using your own grammar
BNF_GRAMMAR = grape.Grammar(path.join("grammars", GRAMMAR_FILE)) #remove this line when you are using your own grammar

The fitness function is the percentage of outputs wrongly predicted.

You can use any other fitness function, but you need to maintain the comma at the end of the returning lines.

In this notebook, GRAPE is being used only for minimisation, so the fitness function needs to consider it. If you want to maximise, you also need to change the weights in the toolbox.

Moreover, this fitness functions considers the predicted output as True or False. If your grammar allow individuals with other outputs, you need to change the fitness function.

In [19]:
def fitness_eval(individual, points):
    """
    Fitness Function
    """

    x = points[0]
    Y = points[1]
    
    if individual.invalid == True:
        return np.NaN,

    # Evaluate the expression
    try:
        pred = eval(individual.phenotype)
    except (FloatingPointError, ZeroDivisionError, OverflowError,
            MemoryError):
        return np.NaN,
    assert np.isrealobj(pred)

    compare = np.equal(Y,pred)
    fitness = 1 - np.mean(compare)
   
    return fitness,

To use properly the fitness function above with GRAPE, the features must be in the lines, and the samples must be in the columns, so if your data is not like that, you need to transpose the matrix.

Take a look at the print. If you run this cell two times, the matrix will be transposed again and will not work properly.

In [20]:
X_train = np.transpose(X_train)
X_test = np.transpose(X_test) 

print('Training (X,Y):\t', X_train.shape, y_train.shape)
print('Test (X):\t', X_test.shape)

Training (X,Y):	 (12, 2000) (2000,)
Test (X):	 (12, 4923)

Set the Grammatical Evolution parameters.

In [ ]:
POPULATION_SIZE = 
MAX_GENERATIONS = 
P_CROSSOVER = 
P_MUTATION = 
ELITE_SIZE = 
HALLOFFAME_SIZE =

TOURNAMENT_SIZE = 
RANDOM_SEED = 
random.seed(RANDOM_SEED) 

CODON_CONSUMPTION = 'lazy'
GENOME_REPRESENTATION = 'list'
MAX_GENOME_LENGTH = None

MAX_INIT_TREE_DEPTH = 
MIN_INIT_TREE_DEPTH = 
MAX_TREE_DEPTH = 
MAX_WRAPS = 0
CODON_SIZE = 255

REPORT_ITEMS = ['gen', 'invalid', 'avg', 'std', 'min', 'max', 
                'best_ind_length', 'avg_length', 
                'best_ind_nodes', 'avg_nodes', 
                'best_ind_depth', 'avg_depth', 
                'avg_used_codons', 'best_ind_used_codons', 
                'structural_diversity', 'fitness_diversity',
                'selection_time', 'generation_time']

Create a toolbox.

In [ ]:
toolbox = base.Toolbox()

# define a single objective, minimising fitness strategy:
creator.create("FitnessMin", base.Fitness, weights=(-1.0,))

creator.create('Individual', grape.Individual, fitness=creator.FitnessMin)

toolbox.register("populationCreator", grape.sensible_initialisation, creator.Individual) 

toolbox.register("evaluate", fitness_eval)

# Tournament selection:
toolbox.register("select", tools.selTournament, tournsize=TOURNAMENT_SIZE)

# Single-point crossover:
toolbox.register("mate", grape.crossover_onepoint)

# Flip-int mutation:
toolbox.register("mutate", grape.mutation_int_flip_per_codon)

In [ ]:
# create initial population (generation 0):
population = toolbox.populationCreator(pop_size=POPULATION_SIZE, 
                                           bnf_grammar=BNF_GRAMMAR, 
                                           min_init_depth=MIN_INIT_TREE_DEPTH,
                                           max_init_depth=MAX_INIT_TREE_DEPTH,
                                           codon_size=CODON_SIZE,
                                           codon_consumption=CODON_CONSUMPTION,
                                           genome_representation=GENOME_REPRESENTATION
                                            )

# define the hall-of-fame object:
hof = tools.HallOfFame(HALL_OF_FAME_SIZE)

# prepare the statistics object:
stats = tools.Statistics(key=lambda ind: ind.fitness.values)
stats.register("avg", np.nanmean)
stats.register("std", np.nanstd)
stats.register("min", np.nanmin)
stats.register("max", np.nanmax)

Run Grammatical Evolution.

In [ ]:
population, logbook = algorithms.ge_eaSimpleWithElitism(population, toolbox, cxpb=P_CROSSOVER, mutpb=P_MUTATION,
                                              ngen=MAX_GENERATIONS, elite_size=ELITE_SIZE,
                                              bnf_grammar=BNF_GRAMMAR, 
                                              codon_size=CODON_SIZE, 
                                              max_tree_depth=MAX_TREE_DEPTH,
                                              max_genome_length=MAX_GENOME_LENGTH,
                                              points_train=[X_train, Y_train], 
                                              codon_consumption=CODON_CONSUMPTION,
                                              report_items=REPORT_ITEMS,
                                              genome_representation=GENOME_REPRESENTATION,                                              
                                              stats=stats, halloffame=hof, verbose=False)

Show the best individual as an expression.

In [ ]:
# Best individual
import textwrap
best = hof.items[0].phenotype
print("Best individual: \n","\n".join(textwrap.wrap(best,80)))
print("\nTraining Fitness: ", hof.items[0].fitness.values[0])
print("Depth: ", hof.items[0].depth)
print("Length of the genome: ", len(hof.items[0].genome))
print(f'Used portion of the genome: {hof.items[0].used_codons/len(hof.items[0].genome):.2f}')

Define a function to predict values.

In [ ]:
def predict(individual, X):
    x = X
    
    if individual.invalid == True:
        return np.NaN,

    # Evaluate the expression
    try:
        pred = eval(individual.phenotype)
    except (FloatingPointError, ZeroDivisionError, OverflowError,
            MemoryError):
        return np.NaN,
    assert np.isrealobj(pred)
    
    _, c = x.shape
    
    try:
        Y_class = [True if pred[i] > 0 else False for i in range(c)]
    except (IndexError, TypeError):
        return np.NaN,
   
    return Y_class

Predict the classes of the test set.

In [ ]:
y_pred = predict(hof.items[0], X_test)
print("Predicted classes of the test set: ", y_pred)

Save it in a .csv file and submit it in the Kaggle competition.

The format is as follows:
1. First column is the original `PassengerId` column in the test set;
2. Second column is named `Transported` and contains the predictions (only 0's or 1's).

In [ ]:
df_id = df_test['PassengerId']
df_class = pd.DataFrame(data=y_pred, columns = ['Transported'])
df_pred = pd.concat([df_id, df_class], axis=1)

df_pred.to_csv('predictions.csv', sep=',', index=False)

## Genetic Programming

If you do not want to use GE, you can use GP in this project.

In [ ]:
from deap import gp
from deap import algorithms
#base, creator and tools were already imported

Set GP parameters.

In [ ]:
POPULATION_SIZE = 
P_CROSSOVER =
P_MUTATION = 
MAX_GENERATIONS = 
HALL_OF_FAME_SIZE = 

MIN_TREE_HEIGHT = 
MAX_TREE_HEIGHT = 
LIMIT_TREE_HEIGHT = 
MUT_MIN_TREE_HEIGHT = 
MUT_MAX_TREE_HEIGHT =

Next steps:

1. Define a fitness function;
2. Add functions and terminals to `gp.PrimitiveSet`. Maybe you will need to define some functions before that;
3. Create the toolbox;
4. Run GP;
5. Define a function to predict samples using a GP individual;
6. Predict the test set, save a .csv file and submit it in the [Kaggle competition](https://www.kaggle.com/c/cs6271-kagglecompetition/submit) to see if the results are better than when using GRAPE. 

Hint: 
    
    Maybe you will need to change the format of the data on X_train and X_test.

In [ ]:
# your code here

## Summary

Your summary here.